@import url('../variables.css');



nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}


nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 7.5vh;
}

ul li a{
    color: var(--brown);
}

ul li a.active{
    color: var(--orange);
}


.side_menu_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: none;
    border: 1px solid var(--vanilla);
    border-radius: 4px;
    width: 6vw;
    height: 2.5vh;
}

.side_menu_button div{
    display: block;
    background-color: var(--vanilla);
    height: 2px;
    margin: 2px;
    width: 90%;
}

.side_menu{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1vh;
    padding-right: 1%;
    padding-left: 1%;
    right: 1.75vw;
    border: solid var(--orange);
    border-radius: 4px;
}

.side_menu button{
    width: 10vw;
    border-radius: 4px;
    color: var(--vanilla);
    background-color: var(--blue);
    border: 1px solid var(--vanilla);
    width: 105%;
    margin-top: 5%;
    margin-bottom: 5%;
}



@media (min-width: 768px) {
    .side_menu{
        right: 4vw;  
    }
}



@media (min-width: 1024px) {
    .side_menu_button{
        width: 3vw;
    }

    .side_menu{
        right: 3vw;  
    }
}