@import url('../variables.css');

.search_bar_div{
    height: 25px;
    max-width: 500px;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 4px;
}

.search_bar_div form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search_bar_input{
    box-sizing: border-box;
    color: var(--vanilla);
    width: 95%;
    border: 1px solid var(--vanilla);
    border-radius: 4px;
    padding: 0 2%;
}

.search_bar_input:focus{
    outline: none;
}

.search_bar_button{
    background: none;
    border: none;
}



.search_results_container {
    box-sizing: border-box;
    width: 95%;
    max-width: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2.5%;
}

.search_results_container h1 {
    text-align: center;
}



@media (min-width: 768px) {
    .search_bar_div{
        width: 55vw;
    }

    .search_bar_div form{
        width: 100%;
    }

    .search_bar_button{
        width: 5%;
    }
}



@media (min-width: 1024px) {
    .search_bar_div{
        height: 3vh;
    }

    .search_bar_input{
        width: 95%;
    }
    
    .search_bar_button{
        width: 2.5%;
    }
}