@import url('../variables.css');

.manage_profiles_container{
    width: 100%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--orange);
}

.manage_profiles_container h1, .manage_profiles_container div{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.manage_profiles_container h1 {
    text-align: center;
}

.show_profiles_button {
    width: 100%;
    height: 25px;
}

.single_profile_details_container{
    color: var(--vanilla);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--orange);
}

.individual_profile_options_buttons_container, .delete_individual_profile_confirmation_buttons_container{
    display: flex;
    justify-content: space-between;
}

.individual_profile_options_buttons_container button, .delete_individual_profile_confirmation_buttons_container button{
    width: 130px;
    height: 25px;
}

.delete_individual_profile_container{
    text-align: center;
}

.edit_individual_profile_container form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.edit_individual_profile_container form label, .edit_individual_profile_container form input, .edit_individual_profile_container form select{
    color: var(--vanilla);
}

.edit_individual_profile_container form input, .edit_individual_profile_container form select{
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid var(--vanilla);
    border-radius: 4px;
    padding: 1%;
}

.edit_individual_profile_container button{
    width: 100%;
    height: 25px;
    margin: 2% auto;
}