@import url('../variables.css');

.error_container {
    text-align: center;
    width: 95%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}