@import url('variables.css');

.home_main_container{
    box-sizing: border-box;
    width: 100%;
    margin: 5% auto 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts_containers{
    box-sizing: border-box;
    width: 95%;
    max-width: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2.5%;
}

.posts_containers a{
    font-size: 2rem;
}

.posts_containers a, p{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.pagination_container{
    width: 95%;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
}

.prev_next_button, .pages_button{
    width: 35px;
    height: 25px;
    border-radius: 4px;
    color: var(--vanilla);
    background-color: var(--vanilla);
    color: var(--blue);
}

.pages_button:disabled {
    background-color: var(--brown);
}




@media (min-width: 1024px) {
    .home_main_container{
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .home_main_container h1{
        width: 100%;
        text-align: center;
    }

    .posts_containers{
        margin: 2% auto;
        padding: .2% 2.5%; 
        width: 30%;
        height: 25%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .posts_containers a, p{
        margin-top: .5%;
        margin-bottom: .5%;
        font-size: 1rem;
    }

    .posts_containers a{
        font-size: 1.2rem;
    }

    .pagination_container{
        margin: 2% auto;
        width: 80%;
    }
}