@import url('variables.css');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--blue);
}

* h1, h2, a{
  color: var(--brown);
}

* p, li{
  color: var(--vanilla);
}

* button{
  background-color: var(--vanilla);
  color: var(--blue);
}